/* Font Outfit*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --mobile: 375px;
  --desktop: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: hsl(212, 45%, 89%);

}

.attribution { 
  font-size: 11px; text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}

.container {
  width: 20rem;
  background: var(--white);
  margin: 6rem auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding-bottom: 2rem;
}

.code-container > img { 
  width: 18rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 1.45rem;
  font-family: Outfit;
}

.text {
  font-size: 1.125rem;
  color: gray;
}